
@{
    ViewData["Title"] = "Sobre";
}


<div class="text-center">
    <br /><br /><br />
            <p>Crud de de veículos usando ASP .net Core MVC!</p>
        
    </div>

    <!--<img src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Imagem de carros" width=1920  height=1440 />
    -->

</div>
